<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>톡톡스피킹</title>
    <link rel="stylesheet" href="/css/user.css">
    <script>
        function boardCheck() {
            var teaEmail = $.trim($("#teaEmail").val());
            if (teaEmail === "") {
                alert("아이디를 입력하세요");
                $("#teaEmail").val("").focus();
                return false;
            }
            if (!checkId(userId)) {
                alert("아이디는 4~12자 이내로 소문자와 숫자만 사용할 수 있습니다");
                $("#teaEmail").val("").focus();
                return false;
            }
            if ($.trim($("#teaPwd").val()) == "") {
                alert("비밀번호를 입력하세요");
                $("#teaPwd").val("").focus();
                return false;
            }
        }
    </script>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main id="container" class="wrap container">
    <div class="content">
        <div class="login_wrap">
            <ul class="menu_wrap" role="tablist">
                <li class="menu-item" role="presentation">
                    <a href="#none" id="loinid" class="menu_id" role="tab" aria-selected="false" onclick="location='/student/login'" >
                        <!--                        <input type="button" value="학생회원가입" onclick="location='/student/join'">-->
                        <span class="menu_text">
                            <span class="text">학생회원 로그인</span>
                        </span>
                    </a>
                </li>
                <li class="menu_item" role="presentation">
                    <a href="#none" id="ones" class="menu_ones on" role="tab" aria-selected="true" >
                        <span class="menu_text">
                            <span class="text">강사회원 로그인</span>
                        </span>
                    </a>

                </li>
            </ul>
            <form id="formTeaLogin" name="formTeaLogin" action="/teacher/login" method="post" onsubmit="return boardCheck()">
                <ul class="panel_wrap">
                    <li class="panel_item" role="tabpanel" aria-controls="loinid">
                        <div class="panel_inner" role="id_line">
                            <div class="id_pw_wrap">
                                <div class="input_row" id="id_line">
                                    <input type="text" id="teaEmail" name="teaEmail" placeholder="이메일" title="이메일" class="input_text" /> <br/>
                                </div>
                                <div class="input_row" id="pw_line">
                                    <input type="password" id="teaPwd" name="teaPwd" placeholder="비밀번호" title="비밀번호" class="input_text" /> <br/>
                                </div>
                            </div>
                            <div class="btn_login_wrap">
                                <button type="submit" class="btn_login" id="log.login">
                                    <span class="btn_text">로그인</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <ul class="find_wrap" id="find_wrap">
            <li>
                <a target="" onclick="location='/teacher/findPwd'" class="find_text">비밀번호 찾기</a>
            </li>
            <li>
                <a target="" onclick="location='/teacher/join'" class="find_text">회원가입</a>
            </li>
        </ul>
    </div>
</main>

<div th:replace="~{footer :: footer}"></div> <!-- header.html 에서 header 태그 불러오기 -->
</body>
</html>