<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>톡톡스피킹</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<link href="/css/user.css" rel="stylesheet">

<main class="wrap">
    <div class="container">
        <h3 class="title">회원탈퇴
            <a onclick="history.go(-1); return false;">뒤로가기<i class="fa-solid fa-chevron-right"></i></a>
        </h3>
        <form action="/teacher/withdraw" method="post">
            <div class="row">비밀번호 확인 :<input type="password" id="teaPwd" name="teaPwd" /></div>
            <input class="submit" type="submit" value="회원탈퇴">
        </form>
    </div>
</main>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>